<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="todolist not-done">
             <h1>Users</h1>
              <hr/>
              <ul id="sortable" class="list-unstyled">
                    <li class="ui-state-default" *ngFor="let user of users; let i=index">                                      
                        <div class="panel panel-default">
                          <div class="panel-heading">{{user.name}}</div>
                          <div class="panel-body">
                            <div>
                              <label>Company Name: </label>
                              <span>{{user.company.name}}</span>
                            </div>
                            <div>
                              <label>Phone: </label>
                              <span>{{user.phone}}</span>                            
                            </div>
                            <div>
                              <label>Email: </label>
                              <span>{{user.email}}</span> 
                            </div>
                            <button type="button" class="btn btn-info">
                              <a  routerLink="/todo-list/{{user.id}}">Todo's</a>
                            </button>
                          </div>
                        </div>
                    </li>                    
                </ul>
            </div>
        </div>        
    </div>
</div>